#foodbank_sign {
  margin-top: 15px;
  font-weight: bold;
}

@media only screen and (min-width: 1000px) {

  @-webkit-keyframes pulse {
    0% { -webkit-transform: scale(0.9); opacity: 0.7; }
    50% { -webkit-transform: scale(1); opacity: 1; }
    100% { -webkit-transform: scale(0.9); opacity: 0.7; }
  }

  @keyframes pulse {
    0% { transform: scale(0.9); opacity: 0.7; }
    50% { transform: scale(1); opacity: 1; }
    100% { transform: scale(0.9); opacity: 0.7; }
  }

  #waiting {
    width: 200px;
    height: 200px;
    background-color: #35D857;
    border-radius: 50%;
    margin: 20% auto;

    -webkit-animation: pulse 3s infinite ease-in-out;
    -o-animation: pulse 3s infinite ease-in-out;
    -ms-animation: pulse 3s infinite ease-in-out;
    -moz-animation: pulse 3s infinite ease-in-out;
    animation: pulse 3s infinite ease-in-out;
    width: 70%;
    margin-left: 100px;
    padding-top: 80px;
    padding-left: 10px;
    padding-right: 10px;
  }

  #button_view_mobile, #created_note_mobile, #created_note_tablet {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1000px) {

  @-webkit-keyframes pulse {
    0% { -webkit-transform: scale(0.9); opacity: 0.7; }
    50% { -webkit-transform: scale(1); opacity: 1; }
    100% { -webkit-transform: scale(0.9); opacity: 0.7; }
  }

  @keyframes pulse {
    0% { transform: scale(0.9); opacity: 0.7; }
    50% { transform: scale(1); opacity: 1; }
    100% { transform: scale(0.9); opacity: 0.7; }
  }

  #button_view_mobile, #created_note_mobile, #created_note_desktop {
    display: none;
  }

  #container_view_mobile {
    text-align: center;
    margin-left: 200px;
  }

  #image_upload_mobile_view {
    margin-left: 50px;
  }

  #created_note_tablet {
    display: block;
    margin-left: 600px;
  }

  #waiting {
    width: 200px;
    height: 200px;
    background-color: #35D857;
    border-radius: 50%;
    margin: 20% auto;

    -webkit-animation: pulse 3s infinite ease-in-out;
    -o-animation: pulse 3s infinite ease-in-out;
    -ms-animation: pulse 3s infinite ease-in-out;
    -moz-animation: pulse 3s infinite ease-in-out;
    animation: pulse 3s infinite ease-in-out;
    width: 70%;
    margin-left: 120px;
    padding-top: 80px;
    padding-left: 10px;
    padding-right: 10px;
  }

}

@media only screen and (max-width: 360px) {

  @-webkit-keyframes pulse {
    0% { -webkit-transform: scale(0.9); opacity: 0.7; }
    50% { -webkit-transform: scale(1); opacity: 1; }
    100% { -webkit-transform: scale(0.9); opacity: 0.7; }
  }

  @keyframes pulse {
    0% { transform: scale(0.9); opacity: 0.7; }
    50% { transform: scale(1); opacity: 1; }
    100% { transform: scale(0.9); opacity: 0.7; }
  }

  #button_view_mobile {
    display: block;
  }

  #created_note_desktop, #created_note_tablet {
    display: none;
  }

  #created_note_mobile {
    display: block;
  }

  #add_item_err_message {
    margin-left: 2em;
  }

  #button_view_desktop {
    display: none;
  }

  #mobile_view {
    padding-top: 40% !important;
  }

  #container_view_mobile {
    margin-left: 1em;
  }

  #column_view_mobile {
    text-align: center !important;
  }

  #food_item_mobile_view, #toiletry_item_mobile_view {
    width: 50%;
    height: auto;
    margin-left: 6em;
    border-radius: 20px;
  }

  #waiting {
    width: 200px;
    height: 200px;
    background-color: #35D857;
    border-radius: 50%;
    margin: 20% auto;

    -webkit-animation: pulse 3s infinite ease-in-out;
    -o-animation: pulse 3s infinite ease-in-out;
    -ms-animation: pulse 3s infinite ease-in-out;
    -moz-animation: pulse 3s infinite ease-in-out;
    animation: pulse 3s infinite ease-in-out;
    width: 70%;
    margin-left: 60px;
    padding-top: 70px;
    padding-left: 20px;
    padding-right: 10px;
  }
}


@media only screen and (min-width: 361px) and (max-width: 375px) {

  @-webkit-keyframes pulse {
    0% { -webkit-transform: scale(0.9); opacity: 0.7; }
    50% { -webkit-transform: scale(1); opacity: 1; }
    100% { -webkit-transform: scale(0.9); opacity: 0.7; }
  }

  @keyframes pulse {
    0% { transform: scale(0.9); opacity: 0.7; }
    50% { transform: scale(1); opacity: 1; }
    100% { transform: scale(0.9); opacity: 0.7; }
  }

  #button_view_mobile {
    display: block;
  }

  #created_note_desktop, #created_note_tablet {
    display: none;
  }

  #created_note_mobile {
    display: block;
  }

  #add_item_err_message {
    margin-left: 0.5em;
  }

  #button_view_desktop {
    display: none;
  }

  #mobile_view {
    padding-top: 80% !important;
  }

  #container_view_mobile {
    margin-left: 2em;
  }

  #column_view_mobile {
    text-align: center !important;

  }

  #food_item_mobile_view, #toiletry_item_mobile_view {
    width: 90%;
    height: auto;
    margin-left: 1em;
    border-radius: 20px;
  }

  #waiting {
    width: 200px;
    height: 200px;
    background-color: #35D857;
    border-radius: 50%;
    margin: 20% auto;

    -webkit-animation: pulse 3s infinite ease-in-out;
    -o-animation: pulse 3s infinite ease-in-out;
    -ms-animation: pulse 3s infinite ease-in-out;
    -moz-animation: pulse 3s infinite ease-in-out;
    animation: pulse 3s infinite ease-in-out;
    width: 70%;
    margin-left: 60px;
    padding-top: 80px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media only screen and (min-width: 376px) and (max-width: 414px) {

  @-webkit-keyframes pulse {
    0% { -webkit-transform: scale(0.9); opacity: 0.7; }
    50% { -webkit-transform: scale(1); opacity: 1; }
    100% { -webkit-transform: scale(0.9); opacity: 0.7; }
  }

  @keyframes pulse {
    0% { transform: scale(0.9); opacity: 0.7; }
    50% { transform: scale(1); opacity: 1; }
    100% { transform: scale(0.9); opacity: 0.7; }
  }

  #button_view_mobile {
    display: block;
  }

  #created_note_desktop, #created_note_tablet {
    display: none;
  }

  #created_note_mobile {
    display: block;
  }

  #add_item_err_message {
    margin-left: 3em;
  }

  #button_view_desktop {
    display: none;
  }

  #mobile_view {
    padding-top: 40% !important;
  }

  #container_view_mobile {
    margin-left: 2em;
  }

  #column_view_mobile {
    text-align: center !important;

  }

  #food_item_mobile_view, #toiletry_item_mobile_view {
    width: 50%;
    height: auto;
    margin-left: 7em;
    border-radius: 20px;
  }

  #waiting {
    width: 200px;
    height: 200px;
    background-color: #35D857;
    border-radius: 50%;
    margin: 20% auto;

    -webkit-animation: pulse 3s infinite ease-in-out;
    -o-animation: pulse 3s infinite ease-in-out;
    -ms-animation: pulse 3s infinite ease-in-out;
    -moz-animation: pulse 3s infinite ease-in-out;
    animation: pulse 3s infinite ease-in-out;
    width: 60%;
    margin-left: 80px;
    padding-top: 70px;
    padding-left: 10px;
    padding-right: 10px;
  }

}
