{% include 'base.html' %}

{% block content %}
<div id="container_view_mobile" class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
    <form action='/foodbank/{{ location.location }}/add_item' method='POST' enctype='multipart/form-data' style='width:320px'>
      <h3 class='title is-3'>Add Item</h3><br><br>
      {% if messages %}
        <ul class=flashes>
          {% for category, msg in messages %}
          <div id="add_item_err_message" class="notification is-{{ category }}"><strong>{{ msg }}</strong></div><br>
          {% endfor %}
        </ul>
      {% endif %}
      {% endwith %}
      <div class="field">
        <div class="control">
          <div class="select">
            <select name="food_or_toiletry" class="is-focused">
              <option>category</option>
              <option>food</option>
              <option>toiletry</option>
            </select>
          </div>
        </div>
      </div>

      <div class="field">
        <div class="file">
          <label class="file-label">
            <input class="file-input" type="file" name="photo">
            <span id="image_upload_mobile_view" class="file-cta">
              <span class="file-icon">
                <i class="fas fa-upload"></i>
              </span>
              <span class="file-label">
                Choose an image …
              </span>
            </span>
          </label>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <input id="qty_mobile_view" class="input" type="number" name="qty" placeholder="Quantity" required>
        </div>
      </div>
      <br>
      <div id="btns_mobile_view" class="field is-grouped">
        <div class="control">
          <button class="button is-link">Add</button>
        </div>
        <div class="control">
          <a class="button is-ghost" href="/foodbank/auth/{{ location.location }}">Back</a>
        </div>
      </div>
    </form>
</div>

<script>
  if ($(window).width() <= 375) {
  document.getElementById('container_view_mobile').style = 'text-align: center;';
  document.getElementById('image_upload_mobile_view').style = 'margin-left: 50px;';
  document.getElementById('btns_mobile_view').style = 'margin-left: 90px;';
  document.getElementById('qty_mobile_view').style = 'width: 50%';
}
</script>

<script>
  $(document).ready(function() {
  $('#add_item_err_message').delay(5000).fadeOut('slow');
});
</script>
{% endblock %}
