<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }} | UCKG Food Bank</title>
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/uckg_ico.png')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bulma/css/bulma.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bulma/css/mystyles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bulma/css/mystylesheet.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script>
    document.addEventListener('DOMContentLoaded', () => {
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
        if ($navbarBurgers.length > 0) {
          $navbarBurgers.forEach( el => {
            el.addEventListener('click', () => {
              const target = el.dataset.target;
              const $target = document.getElementById(target);
              el.classList.toggle('is-active');
              $target.classList.toggle('is-active');
            });
          });
        }
      });
    </script>

    {% block script %}{% endblock %}
  </head>
  <body>
  {% include 'navbar.html' %}
  <section class="section">
    <div class="container">
      {% block content %}{% endblock %}

    </div>
  </section>
  {% block bottom_scripts %}{% endblock %}

  </body>
  <!-- ONLY FOR TESTING -->
  <!-- <script>
    document.getElementById('window_size').style = 'display: block';
    document.getElementById('window_size').innerHTML = $(window).width();
  </script> -->
</html>
