{% include 'base.html' %}

{% block content %}
<div class="columns">
  <div class="column is-half">
    <img src="{{ url_for('static', filename='images/hq.png')}}" alt="Picture of UCKG headquarters">
    <small id="created_note_desktop">Created by <a href="https://markalexa.pythonanywhere.com/" target="_blank">Mark Alexa</a></small>
  </div>
  <div class="column is-half" style="text-align:center">
    <h1 class="title is-1">
      Welcome to UCKG Food Bank
    </h1><br>
    <p class="subtitle">Please select branch</p>
    {% if not branches %}
    <div id="waiting"><strong style="color:white;font-size:20px">Waiting for church to join ...</strong></div>
    {% else %}
    <br><br>
    <ul>
      {% for branch in branches %}
      <li><a class="button is-info" href="/foodbank/{{ branch.location }}" style="border-radius:40px">{{ branch.displayed }}</a></li><br>
      {% endfor %}
    </ul>
    {% endif %}

  </div>
</div>
{% endblock %}
