{% include 'base.html' %}

{% block script %}
<script>
function passUrl(url) {
  document.getElementById('parameter_for_action').action = url;
}

function adjustLink() {
  let value = document.getElementById('input').value;
  let url_to_modify = document.getElementById('parameter_for_action').action;
  url_to_modify += `/${value}`;
  document.getElementById('parameter_for_action').action = url_to_modify;
  console.log(url_to_modify);
}
</script>
{% endblock %}

{% block content %}
{% if not foods and not toiletries %}
<p>Sorry, bank is empty at the moment.</p>
{% else %}

  {% if admin %}
  <!-- QUANTITY MODAL -->
  <div class="modal" id="qtyModal">
    <div class="modal-card">
      <header class="modal-card-head">
        <p id="custom-size" class="modal-card-title">New Quantity ?</p>
        <button class="delete" aria-label="close" data-dismiss="modal"></button>
      </header>
      <form id="parameter_for_action" action="" method="POST">
        <input onchange="adjustLink()" id="input" class="input" type="number" name="new_qty" placeholder="New Quantity" required>
      <footer class="modal-card-foot">
        <button class="button is-link">Change</button>
        <button class="button" data-dismiss="modal">Cancel</button>
      </footer>
      </form>
    </div>
  </div>
  <!-- ################### -->
  {% endif %}
  <div class="container">
  <h4 class='title is-4'>Food</h4>
  {% if foods %}
    {% if admin %}
    <!-- FOOD DELETION MODAL -->
    <div class="modal" id="foodModal">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Are you sure you want to delete this item ?</p>
          <button class="delete" aria-label="close" data-dismiss="modal"></button>
        </header>
        <section class="modal-card-body">
          <img id="food_img" src="" alt="image of food" style="padding-left:40px;width:200px;height:auto">
        </section>
        <footer class="modal-card-foot">
          <a id="food_href_to_fill" href="" class="button is-danger">Delete</a>
          <button class="button" data-dismiss="modal">Cancel</button>
        </footer>
      </div>
    </div>
    <!-- ################### -->
    {% endif %}

    <div class="columns">
      {% for item in foods %}
      <div class="column is-one-fifth is-mobile" style="text-align:center">
        <div class="card">

          <div class="card-image">
            <figure class="image is-4by3">
              <img src="/foodbank/foods/{{ location }}/{{ item.item }}" alt="image of food" style="padding-left:40px;width:200px;height:auto">
            </figure>
            {% if admin %}
            <button onClick="passUrl('/foodbank/change/foods/{{ location }}/{{ item.item }}')" class="button is-link" data-toggle="modal" data-target="#qtyModal">Change</button>
            {% endif %}
          </div>
          <div class="card-content">
            <span style="font-weight:bold">qty:&nbsp;&nbsp;{{ item.qty }}</span><br><br>
            {% if admin %}
            <button onClick="passImage('/foodbank/foods/{{ location }}/{{ item.item }}', '/foodbank/delete/foods/{{ location }}/{{ item.item }}')" class="delete is-large" data-toggle="modal" data-target="#foodModal"></button>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  {% else %}
  <p>Sorry, bank has no food at the moment.</p>
  {% endif %}
  
  <br>
  <h4 class='title is-4'>Toiletries</h4>
  {% if toiletries %}
    {% if admin %}
    <!-- TOILETRIES DELETION MODAL -->
    <div class="modal" id="toiletriesModal">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Are you sure you want to delete this item ?</p>
          <button class="delete" aria-label="close" data-dismiss="modal"></button>
        </header>
        <section class="modal-card-body">
          <img id="toiletry_img" src="" alt="image of food" style="padding-left:40px;width:200px;height:auto">
        </section>
        <footer class="modal-card-foot">
          <a id="toiletry_href_to_fill" href="" class="button is-danger">Delete</a>
          <button class="button" data-dismiss="modal">Cancel</button>
        </footer>
      </div>
    </div>
    <!-- ################### -->
    {% endif %}
    <br>
    <div class="columns">
      {% for item in toiletries %}
      <div class="column is-one-fifth is-mobile" style="text-align:center">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="/foodbank/toiletries/{{ location }}/{{ item.item }}" alt="image of toiletry" style="padding-left:40px;width:200px;height:auto">
            </figure>
            {% if admin %}
            <button onClick="passUrl('/foodbank/change/toiletries/{{ location }}/{{ item.item }}')" class="button is-link" data-toggle="modal" data-target="#qtyModal">Change</button>
            {% endif %}
          </div>
          <div class="card-content">
            <span style="font-weight:bold">qty:&nbsp;&nbsp;{{ item.qty }}</span><br><br>
            {% if admin %}
            <button onClick="passImage('/foodbank/toiletries/{{ location }}/{{ item.item }}', '/foodbank/delete/toiletries/{{ location }}/{{ item.item }}')"
             class="delete is-large" data-toggle="modal" data-target="#toiletriesModal"></button>
             {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  {% else %}
  <p>Sorry, bank has no toiletries at the moment.</p>
    {% endif %}
  </div>
  {% endif %}

    {% if admin %}
    <script>
      function passImage(img_src, delete_link) {
        if (img_src.includes('foods')) {
        // console.log('FOOD DELETION FIRED !');
        document.getElementById('food_img').src = img_src;
        document.getElementById('food_href_to_fill').href = delete_link;
      } else {
        // console.log('TOILETRY DELETION FIRED !');
        document.getElementById('toiletry_img').src = img_src;
        document.getElementById('toiletry_href_to_fill').href = delete_link;
      }

    }
    </script>
    {% endif %}
{% endblock %}
