{% include 'base.html' %}

{% block script %}
    <script>
    function passUrl(url) {
      document.getElementById('parameter_for_action').action = url;
    }

    function adjustLink() {
      let value = document.getElementById('input').value;
      let url_to_modify = document.getElementById('parameter_for_action').action;
      url_to_modify += `/${value}`;
      document.getElementById('parameter_for_action').action = url_to_modify;
      console.log(url_to_modify);
    }
    </script>

    <script>
      $(document).ready(function() {
      $('#message').delay(5000).fadeOut('slow');
      });
    </script>
{% endblock %}

{% block content %}

    {% if current_user.is_authenticated %}
    <!-- QUANTITY MODAL -->
    <div class="modal" id="qtyModal">
      <div class="modal-card">
        <header class="modal-card-head">
          <p id="custom-size" class="modal-card-title">New Quantity ?</p>
          <button class="delete" aria-label="close" data-dismiss="modal"></button>
        </header>
        <form id="parameter_for_action" action="" method="POST">
          <input onchange="adjustLink()" id="input" class="input" type="number" name="new_qty" placeholder="New Quantity" required>
        <footer class="modal-card-foot">
          <button class="button is-warning">Change</button>
          <button class="button" data-dismiss="modal">Cancel</button>
        </footer>
        </form>
      </div>
    </div>
    <!-- ################### -->
    {% endif %}
    <div id="column_view_mobile" class="container">
      {% with messages = get_flashed_messages(with_categories=true) %}
          {% for category, msg in messages %}
          <div id="message" class="notification is-{{ category }}"><strong>{{ msg }}</strong></div><br>
          {% endfor %}
      {% endwith %}
      {% if not foods and not toiletries %}
        {% if current_user.is_authenticated %}
          <div class="notification is-info"><strong>The bank is empty at the moment. Add some items maybe :) ?</strong></div>
        {% else %}
        <div class="notification is-info"><strong>Sorry, the bank is empty at the moment. Check back later.</strong></div>
        {% endif %}
      {% else %}
      <h4 class='title is-4' style='margin-left:5px'>Food</h4><br>
      {% if foods %}
        {% if current_user.is_authenticated %}
        <!-- FOOD DELETION MODAL -->
        <div class="modal" id="foodModal">
          <div class="modal-background"></div>
          <div class="modal-card">
            <header class="modal-card-head">
              <p class="modal-card-title">Are you sure ?</p>
              <button class="delete" aria-label="close" data-dismiss="modal"></button>
            </header>
            <section class="modal-card-body">
              <img id="food_img" src="" alt="image of food" style="width:auto;height:150px">
            </section>
            <footer class="modal-card-foot">
              <a id="food_href_to_fill" href="" class="button is-danger">Delete</a>
              <button class="button" data-dismiss="modal">Cancel</button>
            </footer>
          </div>
        </div>
        <!-- ################### -->
        {% endif %}

        <div class="columns">
          {% for item in foods %}
          <div class="column is-one-fifth is-mobile" style="text-align:center">
            <div class="card">
              <div class="card-image">
                <figure id="mobile_view" class="image is-4by3">
                  <img id="food_item_mobile_view" class="food_img" src="/foodbank/foods/{{ location.location }}/{{ item.item }}" alt="image of food">
                </figure>
                {% if current_user.is_authenticated %}
                <br>
                <button onClick="passUrl('/foodbank/change/foods/{{ location.location }}/{{ item.item }}')" class="button is-link" data-toggle="modal" data-target="#qtyModal">Change</button>
                {% endif %}
              </div>
              <div class="card-content">
                <span style="font-weight:bold">qty:&nbsp;&nbsp;{{ item.qty }}</span><br><br>
                {% if current_user.is_authenticated %}
                <button onClick="passImage('/foodbank/foods/{{ location.location }}/{{ item.item }}', '/foodbank/delete/foods/{{ location.location }}/{{ item.item }}')" class="delete is-large" data-toggle="modal" data-target="#foodModal"></button>
                {% endif %}
              </div>
            </div>
          </div>
        {% if loop.index % 5 == 0 %}
        </div>
        <div class="columns">
        {% elif loop.index == loop.length %}
        </div>
        {% endif %}
      {% endfor %}

      {% else %}
        {% if current_user.is_authenticated %}
        <div class="notification is-info"><strong>The bank has no food at the moment. Add some maybe :) ?</strong></div>
        {% else %}
        <div class="notification is-info"><strong>Sorry, the bank has no food at the moment. Check back later.</strong></div>
        {% endif %}
      {% endif %}
      <br>
      <h4 class='title is-4' style='margin-left:5px'>Toiletries</h4>
      {% if toiletries %}
        {% if current_user.is_authenticated %}
        <!-- TOILETRIES DELETION MODAL -->
        <div class="modal" id="toiletriesModal">
          <div class="modal-background"></div>
          <div class="modal-card">
            <header class="modal-card-head">
              <p class="modal-card-title">Are you sure ?</p>
              <button class="delete" aria-label="close" data-dismiss="modal"></button>
            </header>
            <section class="modal-card-body">
              <img id="toiletry_img" src="" alt="image of food" style="width:auto;height:150px">
            </section>
            <footer class="modal-card-foot">
              <a id="toiletry_href_to_fill" href="" class="button is-danger">Delete</a>
              <button class="button" data-dismiss="modal">Cancel</button>
            </footer>
          </div>
        </div>
        <!-- ################### -->
        {% endif %}

        <br>
        <div class="columns">
          {% for item in toiletries %}
          <div class="column is-one-fifth is-mobile" style="text-align:center">
            <div class="card">
              <div class="card-image">
                <figure id="mobile_view" class="image is-4by3">
                  <img id="toiletry_item_mobile_view" class="toiletry_img" src="/foodbank/toiletries/{{ location.location }}/{{ item.item }}" alt="image of toiletry">
                </figure>
                {% if current_user.is_authenticated %}
                <br>
                <button onClick="passUrl('/foodbank/change/toiletries/{{ location.location }}/{{ item.item }}')" class="button is-link" data-toggle="modal" data-target="#qtyModal">Change</button>
                {% endif %}
              </div>
              <div class="card-content">
                <span style="font-weight:bold">qty:&nbsp;&nbsp;{{ item.qty }}</span><br><br>
                {% if current_user.is_authenticated %}
                <button onClick="passImage('/foodbank/toiletries/{{ location.location }}/{{ item.item }}', '/foodbank/delete/toiletries/{{ location.location }}/{{ item.item }}')" class="delete is-large" data-toggle="modal" data-target="#toiletriesModal"></button>
                {% endif %}
              </div>
            </div>
          </div>
          {% if loop.index % 5 == 0 %}
          </div>
          <div class="columns">
          {% elif loop.index == loop.length %}
          </div>
          {% endif %}
    {% endfor %}

    {% else %}
      {% if current_user.is_authenticated %}
        <div class="notification is-info"><strong>The bank has no toiletries at the moment. Add some maybe :) ?</strong></div>
      {% else %}
        <div class="notification is-info"><strong>Sorry, the bank has no toiletries at the moment. Check back later.</strong></div>
      {% endif %}
    </div>
    {% endif %}
   {% endif %}
      {% if current_user.is_authenticated %}
      <script>
        function passImage(img_src, delete_link) {
          if (img_src.includes('foods')) {
          // console.log('FOOD DELETION FIRED !');
          document.getElementById('food_img').src = img_src;
          document.getElementById('food_href_to_fill').href = delete_link;
        } else {
          // console.log('TOILETRY DELETION FIRED !');
          document.getElementById('toiletry_img').src = img_src;
          document.getElementById('toiletry_href_to_fill').href = delete_link;
        }

      }
      </script>
      {% endif %}

{% endblock %}
