{% include 'base.html' %}

{% block script %}
<script>
  $(document).ready(function() {
  $('#message').delay(5000).fadeOut('slow');
});
</script>
{% endblock %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
<div class="container" style="width:320px">
<form action="/login" method="POST">
  <h3 class='title is-3'>Login</h3>
  {% if messages %}
    <ul class=flashes>
      {% for category, msg in messages %}
      <div id="message" class="notification is-{{ category }}"><strong>{{ msg }}</strong></div><br>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
  <div class="field">
    <div class="control">
      <input class="input is-focused" type="text" name="location" placeholder="Location" required>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <input class="input" type="password" name="password" placeholder="Password" required>
    </div>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <button class="button is-link">Login</button>
    </div>
    <div class="control">
      <a class="button is-link is-warning" href="/">Cancel</a>
    </div>
  </div>
</form>
</div>
{% endblock %}
