<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://uckg.org">
      <img src="{{ url_for('static', filename='images/help_center.png')}}" width="112" height="28">
    </a><span id="foodbank_sign">foodbank</span>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      {% if not current_user.is_authenticated and location %}
        &nbsp;&nbsp;&nbsp;&nbsp;<a class="button is-info" href="#" style="margin-top:10px">
          {{ location.displayed }}
        </a>
        {% endif %}
      <a id="window_size" class="navbar-item" style="display: none" href="#"></a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          {% if current_user.is_authenticated %}
            <a class="button is-warning" href="#">
              {{ location.displayed }}
            </a>&nbsp;&nbsp;
            {% if title != 'Add Item' %}
            <a id="add_item_btn" class="button is-success" href="/foodbank/{{ location.location }}/add_item">
            Add Item
            </a>
            {% endif %}
          &nbsp;&nbsp;
          {% endif %}
          {% if not current_user.is_authenticated %}
          <div id="button_view_mobile">
            {% if title != 'Register' %}
            <br><a id="register_btn" class="button is-link" href="/register">
              Register Branch
            </a>
            {% endif %}
            <br><br>
            {% if title != 'Login' %}
            <a id="login_btn" class="button is-primary" href="/login">
              Log In
            </a>
            {% endif %}
            <br><br><small id="created_note_mobile">Created by
               <a href="https://markalexa.pythonanywhere.com/" target="_blank">Mark Alexa</a></small>
          </div>
          </div>
          <div id="button_view_desktop">
            {% if title != 'Register' %}
            <a id="register_btn" class="button is-link" href="/register">
              Register Branch
            </a>
            {% endif %}
            {% if title != 'Login' %}
            &nbsp;&nbsp;
            <a id="login_btn" class="button is-primary" href="/login">
              Log In
            </a>
            {% endif %}
          {% endif %}
          {% if current_user.is_authenticated %}
          <a class="button is-dark" href="/foodbank/logout/{{ location.location }}">
            Log Out
          </a>
          {% endif %}
          <div id="created_note_tablet">
            <small>Created by <a href="https://markalexa.pythonanywhere.com/" target="_blank">Mark Alexa</a></small>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
