{% include 'base.html' %}

{% block script %}
<script>
  $(document).ready(function() {
  $('#message').delay(5000).fadeOut('slow');
});
</script>
{% endblock %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}

<div class="container" style="width:320px">
<form action="/register" method="POST">
  <h4 class='title is-4'>Register UCKG Food Bank</h4>
  {% if messages %}
    <ul class=flashes>
      {% for category, msg in messages %}
      <div id="message" class="notification is-{{ category }}">{{ msg }}</div><br>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
  <div class="field">
    <div class="control">
      <input class="input is-focused" type="text" name="location" placeholder="Location">
    </div>
  </div>

  <div class="field">

    <div class="control has-icons-right">
      <input class="input" type="email" name="email" placeholder="@" required>
      <span class="icon is-small is-left">
        <i class="fas fa-user"></i>
      </span>
      <span class="icon is-small is-right">
        <i class="fas fa-check"></i>
      </span>
    </div>

  </div>
  <div class="field">
    <div class="control">
      <input class="input" type="password" name="password" placeholder="Password" required>
    </div>
  </div>
  <div class="field">
    <label class="label">Confirm that you're not an ungodly bot:</label>
    <div class="control">
      <img src="{{ captcha }}" style="width:40%;height:auto" alt="Anti-bot challenge">
      <input type="number" style="display:none" name="picked_num" value="{{ pick_a_num }}">
      <input class="input" type="number" name="given_result" style="width:50%" required>
    </div>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <button class="button is-link">Send Registration Request</button>
    </div>
    <div class="control">
      <a class="button is-link is-warning" href="/">Cancel</a>
    </div>
  </div>
</form><br>
<div class="notification is-info">If your location includes spaces like<br><br>i.e. Stamford Hill<br><br>
  please include them too. Otherwise you may have trouble logging in later.</div>
</div>
{% endblock %}
